<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="openSCADA Target Platform (Development)" sequenceNumber="1455704425">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.1.v20150831-1342"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.9.0.201505312255"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.11.1.v20150806-0404"/>
      <unit id="org.eclipse.ecf.core.feature.group" version="3.10.1.v20150810-1719"/>
      <unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.1.0.v20150624-0903"/>
      <unit id="org.eclipse.platform.feature.group" version="4.5.1.v20150904-0015"/>
      <unit id="org.eclipse.pde.feature.group" version="3.11.1.v20150904-0345"/>
      <unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.7.1.v201509022125"/>
      <unit id="org.eclipse.acceleo.feature.group" version="3.6.1.201509091420"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="3.10.1.201508170204"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.11.1.v20150904-0015"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.1.0.v20150810-1719"/>
      <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.3.100.v20150527-1706"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.0.0.v20150810-1719"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.0.0.v20150810-1719"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.10.1.v20150810-1719"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.10.1.v20150810-1719"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.0.0.v20150810-1719"/>
      <unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.2.101.v20150826-1318"/>
      <repository location="http://download.eclipse.org/releases/mars"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="bcprov" version="1.50.0"/>
      <unit id="io.netty.buffer" version="4.0.19.Final"/>
      <unit id="io.netty.codec" version="4.0.19.Final"/>
      <unit id="io.netty.common" version="4.0.19.Final"/>
      <unit id="io.netty.handler" version="4.0.19.Final"/>
      <unit id="io.netty.transport" version="4.0.19.Final"/>
      <repository location="http://thedrone.packagedrone.org/p2/os-externals"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.scada.external.sdk.feature.group" version="0.3.0.v20160121-1459"/>
      <unit id="org.eclipse.scada.utils.sdk.feature.group" version="0.3.0.v20160121-1427"/>
      <unit id="org.eclipse.scada.protocols.sdk.feature.group" version="0.3.0.v20160121-1428"/>
      <unit id="org.eclipse.scada.base.sdk.feature.group" version="0.3.0.v20160121-1426"/>
      <unit id="org.eclipse.scada.core.sdk.feature.group" version="0.3.0.v20160126-1540"/>
      <unit id="org.eclipse.scada.chart.sdk.feature.group" version="0.3.0.v20160121-1425"/>
      <unit id="org.eclipse.scada.hmi.sdk.feature.group" version="0.3.0.v20160121-1434"/>
      <unit id="org.eclipse.scada.ide.feature.group" version="0.3.0.v20160121-1452"/>
      <unit id="org.eclipse.scada.configuration.sdk.feature.group" version="0.3.0.v20160121-1452"/>
      <repository location="http://download.eclipse.org/eclipsescada/updates/milestone/0.3"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.slf4j.log4j" version="1.7.2.v20130115-1340"/>
      <unit id="org.slf4j.ext" version="1.7.2.v20121108-1250"/>
      <unit id="javax.transaction" version="1.1.1.v201105210645"/>
      <unit id="osgi.enterprise" version="4.2.0.v201108120515"/>
      <unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
      <unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
      <unit id="org.apache.commons.compress" version="1.6.0.v201310281400"/>
      <unit id="com.google.gson" version="2.2.4.v201311231704"/>
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <unit id="com.jcraft.jzlib" version="1.1.1.v201205102305"/>
      <unit id="org.apache.mina.core" version="2.0.7.v201401071602"/>
      <unit id="org.apache.mina.filter.compression" version="2.0.7.v201401141305"/>
      <unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
      <unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
      <unit id="ch.qos.logback.slf4j" version="1.0.7.v201505121915"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.eclipsesource.jaxrs.publisher" version="4.1.0.201407131319"/>
      <unit id="com.eclipsesource.jaxrs.provider.gson" version="2.0.0.201407131319"/>
      <unit id="com.eclipsesource.jaxrs.jersey-all" version="2.10.1.SR1"/>
      <repository location="http://hstaudacher.github.io/osgi-jax-rs-connector"/>
    </location>
  </locations>
</target>
